@media screen and (max-width: 1200px) {
    .navigation{
        flex-direction: column;
        margin-bottom: 23px;
    }

    .nav-left{
        flex-direction: column;
        text-align: center;
        margin: 30px;
    }
    .content-right{
        display: none;
    }
    .home-article{
        flex-direction: column;
    }
    .home-article-img{
        width: 60vw;
        text-align: center;
    }
    .form-input{
        width: 50%;
    }
    .form-box input, textarea{
        width: 60vw;
    }
    .blogspot-content{
        width: 60vw;
        flex-direction: column;
    }

    .about{
        flex-direction: column;
        height: 100%;
        width: 60vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    .about img{
        margin-bottom: 15vw;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }
}